body {
    background: #fff;
    font-family: "Open Sans", "Helvetica Neue", "Arial", "Verdana";
    background-image: url(https://i.pinimg.com/564x/50/8d/ac/508dac583787e8b0910814d61b873faf.jpg);
}

span{
    font-size: 44px;
}
h1{
    font-size: 24px;
}
.divforimg {
    background-image: url(https://i.pinimg.com/736x/95/02/71/950271c7270410e6e27d9b5f175482a6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 78vh;
    width: 51vh;
    display: inline-block;
    margin-top: 103px;
    background-color: #fff;

    
    width: 48vh;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 80vh;
border-radius: 15px;

   

padding-right: 0px;
margin-right: 1px;
margin-left: 38px;

margin-top: 61px;
}

.divfortext {
    
   
    float: right;
    height: 100%;
    width: 70%;
    background-size: contain;




}

.button {
    border-radius: .25rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.375;
    padding: 8px 20px;
    display: block;
    width: 100%;
    background-color: #1d539f;
    border-color: #0d3f86;
    color: #fff;
    cursor: pointer;
}

/* On mouse-over */
.button:hover {
    background: rgb(15, 5, 158);
}


.cssele  {
    width: 313px;
    height: 32px;
    padding-bottom: 5px;
    padding-top: 2px;
    padding-left: 11px;
    padding-right: 4px;
    border-top-style: solid;
}


.label {
    color: #122f4c;
    font-weight: 600;
    margin-bottom: 4px;
    padding: 8px 16px;
}

.card {
    border-radius: .375rem;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 3.25rem;
   
    line-height: 24px;
    font-size: 14px;
  
    padding-top: 0%;
    height: 472.784px;



    height: 445.784px;
width: 312.166px;
padding-top: 6%;
padding-bottom: 4%;
padding-left: 6%;
padding-right: 7%;
margin-top: 45px;
margin-left: 236px;
margin-bottom: 0px;
}

.form-group {
    margin-bottom: 1rem;
}

#result  {
    width: 313px;
    height: 32px;
    padding-bottom: 5px;
    padding-top: 2px;
    padding-left: 11px;
    padding-right: 4px;
    border-style: solid;
    border-color: rgb(102, 74, 74);
}